body {
    font-family: "Nunito Sans", sans-serif ;
    margin: 0 10%;
}

.container {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    width: 49%;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    border: 1px solid #000;
    border-radius: 100%;
}

.color-label {
    font-weight: bold;
}

.blue_darken-1 {
    background-color: #039be5;
    color: #fff;
}

.red_darken-1 {
    background-color: #e53935;
    color: #fff;
}

.green_darken-1 {
    background-color: #43a047;
    color:#fff;
}

.brown_darken-1 {
    background-color: #6d4c41;
    color: #fff;
}

.font-container {
    width: 100%;
}

.font-panel {
    width: 30%;
    display: inline-block;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.Source_code-Pro {
    font-family: "Source Code Pro", sans-serif ;
}

.Nunito-Sans {
    font-family: "Nunito Sans", sans-serif ;
}

.Poppins {
    font-family: "Poppins", sans-serif ;
}

.text-panel h1 {
    font-weight: bold;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;

}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.text-panel p {
    font-weight: normal;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}